{% extends "base.html" %}
{% import "ui/admin_page.html" as pg %}
{% block content %}
<div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
        </ul>
    </div>

    <div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-user"></i> Datatable + Responsive</h2>

        <div class="box-icon">
			<a href="{{ url_for('admin.group_add') }}" class="btn btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
    <div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable  responsive">
    <thead>
    <tr>
        <th>ID</th>
        <th>Group</th>
        <th>Description</th>
        <th>Members</th>
        <th>Action</th>
    </tr>
    {% for val in page_data.items %}
    <tr>
		<td>{{ val.id }}</td>
		<td class="center">{{ val.group_name }}</td>
		<td class="center">{{ val.description }}</td>
		<td class="center">
			<table >
				{% for v in val.hosts%}
				<tr>
					<td>{{ v.alias }}</td>
				</tr>
				{% endfor %}
			</table>
		</td>
        <td class="center">			
			<a class="btn btn-info" href="#">
                <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                Edit
            </a>			
        </td>
    </tr>
    {% endfor %}
    </thead>
    <tbody>
	
    </tbody>
    </table>
    <div class="box-footer clearfix">
         {{ pg.page(page_data,'admin.group_list') }}
    </div>
    </div>
    </div>
    </div>
    <!--/span-->

    </div><!--/row-->
    {% endblock %}
