{% extends "base.html" %}

{% block content %}
    <div class="box col-md-4">
         <div class="box-inner">
             <div class="box-header well" data-original-title="">
                 <h2>Update Status</h2>
             </div>
             <div class="box-content">
                 <div class="row">
			<div class="col-md-4"><h6>None</h6></div>
			
			<div class="col-md-4"><h6>None</h6></div>
			<div class="col-md-4"><h6>None</h6></div>
			
                 </div>
             </div>
         </div>
     </div>
     <!--/span-->
     <!--/span-->
     <div class="box col-md-4">
         <div class="box-inner">
             <div class="box-header well" data-original-title="">
                 <h2>Server Info</h2>
             </div>
             <div class="box-content">
                 <div class="row">
                     <div class="col-md-6"><h6>system_vendor</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
                 <div class="row">
                     <div class="col-md-6"><h6>product_name</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
                 <div class="row">
                     <div class="col-md-6"><h6>product_serial</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
             </div>
         </div>
     </div>
<!--/span-->
     <!--/span-->
     <div class="box col-md-4">
         <div class="box-inner">
             <div class="box-header well" data-original-title="">
                 <h2>System Info</h2>
             </div>
             <div class="box-content">
                 <div class="row">
                     <div class="col-md-6"><h6>distribution</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
                 <div class="row">
                     <div class="col-md-6"><h6>distribution_version</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
                 <div class="row">
                     <div class="col-md-6"><h6>architecture</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
                 <div class="row">
                     <div class="col-md-6"><h6>kernel</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
             </div>
         </div>
     </div>
     <!--/span-->
     <!--/span-->
     <div class="box col-md-4">
         <div class="box-inner">
             <div class="box-header well" data-original-title="">
                 <h2>Cpu Info</h2>
             </div>
             <div class="box-content">
                 <div class="row">
                     <div class="col-md-6"><h6>processor_count</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
                 <div class="row">
                     <div class="col-md-6"><h6>processor_cores</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
                 <div class="row">
                     <div class="col-md-6"><h6>processor_vcpus</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
                 <div class="row">
                     <div class="col-md-6"><h6>processor_threads_per_core</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
                 <div class="row">
                     <div class="col-md-6"><h6>processor</h6></div>
			<div class="col-md-6">
			
				<h6>None</h6>
			
			</div>
                 </div>
             </div>
         </div>
     </div>
     <!--/span-->
     <!--/span-->
     <div class="box col-md-4">
         <div class="box-inner">
             <div class="box-header well" data-original-title="">
                 <h2>Swap Info</h2>
             </div>
             <div class="box-content">
                 <div class="row">
                     <div class="col-md-6"><h6>swaptotal_mb</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
                 <div class="row">
                     <div class="col-md-6"><h6>swapfree_mb</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
             </div>
         </div>
     </div>
     <!--/span-->
     <!--/span-->
     <div class="box col-md-4">
         <div class="box-inner">
             <div class="box-header well" data-original-title="">
                 <h2>Mem Info</h2>
             </div>
             <div class="box-content">
                 <div class="row">
                     <div class="col-md-6"><h6>memtotal_mb</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
                 <div class="row">
                     <div class="col-md-6"><h6>memfree_mb</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
             </div>
         </div>
     </div>
     <!--/span-->
     <!--/span-->
     <div class="box col-md-8">
         <div class="box-inner">
             <div class="box-header well" data-original-title="">
                 <h2>Disk Info</h2>
             </div>
             <div class="box-content">
                 <div class="row">
                     <div class="col-md-3"><h6>device name</h6></div>
                     <div class="col-md-3"><h6>model</h6></div>
                     <div class="col-md-3"><h6>size</h6></div>
                     <div class="col-md-3"><h6>partitions</h6></div>
                 </div>
		
             </div>
         </div>
     </div>
     <!--/span-->
     <!--/span-->
     <div class="box col-md-12">
         <div class="box-inner">
             <div class="box-header well" data-original-title="">
                 <h2>Mounts Info</h2>
             </div>
             <div class="box-content">
                 <div class="row">
                     <div class="col-md-2"><h6>device</h6></div>
                     <div class="col-md-2"><h6>mount</h6></div>
                     <div class="col-md-2"><h6>fstype</h6></div>
                     <div class="col-md-2"><h6>size_total</h6></div>
                     <div class="col-md-2"><h6>size_available</h6></div>
                     <div class="col-md-2"><h6>used_percent</h6></div>
                 </div>
		
             </div>
         </div>
     </div>
     <!--/span-->
     <!--/span-->
     <div class="box col-md-6">
         <div class="box-inner">
             <div class="box-header well" data-original-title="">
                 <h2>Ip info</h2>
             </div>
             <div class="box-content">
                 <div class="row">
                     <div class="col-md-4"><h6>default_ipv4</h6></div>
			<div class="col-md-4"><h6>all_ipv4_addresses</h6></div>
                 </div>
                 <div class="row">
                     <div class="col-md-6">
			
				None
			
			</div>
			<div class="col-md-6">
			
				None
			
			</div>
                 </div>
             </div>
         </div>
     </div>
     <!--/span-->
     <!--/span-->
     <div class="box col-md-4">
         <div class="box-inner">
             <div class="box-header well" data-original-title="">
                 <h2>Software Info</h2>
             </div>
             <div class="box-content">
                 <div class="row">
                     <div class="col-md-6"><h6>selinux</h6></div>
			
			<div class="col-md-6">None</div>
			
                 </div>
                 <div class="row">
                     <div class="col-md-6"><h6>python</h6></div>
			<div class="col-md-6"><h6>None</h6></div>
                 </div>
             </div>
         </div>
     </div>
     <!--/span-->

<form action="" method=post>
	<button type="submit">Update</button>
</form>
                 
{% endblock %}
