{% extends "base.html" %}
{% block content %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Forms</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i> Form Elements</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
				<form role="form" method="post" >
						<!--alias-->
						<div class="input-group col-md-4">
							<label class="control-label" for="alias">{{ form.alias.label }}</label>
							{{ form.alias(value=host.alias) }}
							{% for err in form.alias.errors %}
							<div class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Oh snap!</strong> {{ err }}
							</div>
							{% endfor %}
						</div>
						<!--remote_user-->
						
						<div class="input-group col-md-4">
							<label class="control-label" for="remote_user">{{ form.remote_user.label }}</label>
							{{ form.remote_user(value=host.remote_user) }}
							{% for err in form.remote_user.errors %}
							<div class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Oh snap!</strong> {{ err }}
							</div>
							{% endfor %}
						</div>
						
						<!--remte pass-->
						
						<div class="input-group col-md-4">
							<label class="control-label" for="remote_pass">{{ form.remote_password.label }}</label>
							{{ form.remote_password }}
							{% for err in form.remote_password.errors %}
							<div class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Oh snap!</strong> {{ err }}
							</div>
							{% endfor %}
						</div>
						
					</br>
                    {{ form.submit }}
                    {{ form.csrf_token }}
                </form>

            </div>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->
{% endblock %}