{% extends "base.html" %}
{% import "ui/admin_page.html" as pg %}
{% block content %}				
                <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
        </ul>
    </div>

    <div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-user"></i> Datatable + Responsive</h2>

        <div class="box-icon">
			<a href=/jobs/add_general class="btn btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
    <div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable  responsive">
    <thead>
    <tr>
		<th>ID</th>
		<th>Object</th>
		<th>Started</th>
		<th>Finished</th>
		<th>模板名称</th>
		<th>状态</th>
		<th>操作</th>
    </tr>
    </thead>
    <tbody>
	{% for v in page_data.items %}
    <tr>
		<td>{{ v.id }}</td>
		<td class="center">{{ v.object}}</td>
		<td class="center">{{ v.started }}</td>
		<td class="center">{{ v.finished }}</td>
		<td class="center">{{ v.template_name}}</td>
        
        <td class="center">
			{% if v.status == 0 %}
			<span class="label-warning label label-default">Unknown</span>
			{% elif v.status == 1 %}
			<span class="label-warning label label-default">Unreachable</span>
			{% elif v.status == 2 %}
			<span class="label-danger label label-default">Failures</span>
			{% else %}
			<span class="label-success label label-default">Success</span>
			{% endif %}
        </td>
        
        <td class="center">
			<a class="btn btn-success btn-setting job-id-1" href="#">
                <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                View
            </a>
			<form style="float: left;" method="POST" action=/jobs/>
				<input id="yml_temp_name" name="yml_temp_name" type="hidden" value="_add_user">
				<input id="argss" name="argss" type="hidden" value="{'username': u'zhangyege', 'host': u'mysql5.6', 'password': '$6$rounds=100000$D/9qmtdGxbxsRAI7$6qbXY1irUhps4N2OvE3u.pL6xQ4jykhpV.yWKmkniY3j7LEgS4EG.m8IDw8bNyR2hr9N9HrcR1EO.4v8If/Nl/', 'user': u'root'}">
				<button type="submit" class="btn btn-info">Action</button>
			</form>
        </td>
    </tr>
	{% endfor %}
    </tbody>
    </table>
    <div class="box-footer clearfix">
         {{ pg.page(page_data,'admin.job_list') }}
    </div>
    </div>
    </div>
    </div>
    <!--/span-->

    </div><!--/row-->
{% endblock %}
