{% extends "base.html" %}
{% block content %}				
<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Forms</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i> Form Elements</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
				<form role="form" method="post" action=/jobs/add_general>
					<input id="csrf_token" name="csrf_token" type="hidden" value="IjRkYWUyNTExOGRkZGY3ZWVkYjQwYzU5N2NjMzRjODA5ZDVjZTQ5OWMi.DOsmnA.A1E4Q0Z_CGj2w5tqp0I8Wn0XN2A">
					<div class="control-group">
						<label class="control-label" for="selectError">Template Name</label>

						<div class="controls">
							<select id="selectError" name="yml_temp_name" data-rel="chosen">
								
								<option>denyhosts</option>
								
								<option>jdk1.6</option>
								
								<option>mysql-python</option>
								
								<option>nginx1.4</option>
								
								<option>python2.7</option>
								
								<option>ulimit_config</option>
								
								<option>yml_temp</option>
								
							</select>
						</div>
					</div>
					<br>
					<div class="control-group">
						<label class="control-label" for="selectError1">Select Group / Host</label>

						<div class="controls">
							<select id="selectError1" multiple class="form-control" name="selected_alias" data-rel="chosen">
								
								<option value=None>*None</option>
								
								<option value=mysql5.6>mysql5.6</option>
								
							</select>
						</div>
						
					</div>
					<br>
					
                    <div class="form-group">
						<label for="exampleInputEmail1">Remote User</label>
						<input class="form-control" id="exampleInputEmail1" name="remote_user" placeholder="Enter Remote User" type="text" value="">
                    </div>
					
				<br>
				<button type="submit" class="btn btn-default">Submit</button>
				</form>
            </div>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->
{% endblock %}